* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../img/pattern.png");
    background-color: #0077b6;
    background-size: 250px;
    height: 65px;
    margin-bottom: 10px;
}

header img {
    width: 150px;
    margin: 20px 0 0 5px;
}

main {
    margin: 10px;
}

.title-section {
    margin-bottom: 20px;
}

.title-section .title {
    font-size: 2em;
    margin-bottom: 5px;
}

.title-section .author {
    color: grey;
    font-weight: 600;

}

.title-section .author > a {
    color: #0077b6;
}

.title-section .date {
    font-size: 0.8em;
    color: gray;
}

.a-photo img {
    height: 300px;
}

.references p {
    font-size: 0.8em;
}

article > p {
    margin: 20px 0;
}

article > p .t-underline {
    background-color: yellow;
}

article > ul {
    margin: 20px 0px 20px 15px;
}

table {
    border-spacing: 0;
}

table th {
    width: 33%;
}

.bg-blue {
    color: white;
    background-color: #0077b6;
}

.bg-azure {
    background-color: #abf9f9;
}

.title-tips {
    color: gray;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.article {
    position: relative;
    width: 300px;
    float: left;
    margin: 0px 20px 20px 0px; 
}

article::after {
    clear: both;
    content: "";
    display: table;
}

.article > p {
    color: white;
    font-weight: 600;
    position: absolute;
    left: 5px;
    top: 5px;
}