* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../img/pattern.png");
    background-color: #0077b6;
    background-size: 250px;
    height: 65px;
    position: relative;
    margin-bottom: 10px;
}

header > img {
    width: 150px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

main {
    margin: 10px;
}

.title-section {
    margin-bottom: 20px;
}

.title-section .title {
    font-size: 2em;
    margin-bottom: 5px;
}

.title-section .author {
    color: grey;
    font-weight: 600;

}

.title-section .author > a {
    color: #0077b6;
}

.title-section .date {
    font-size: 0.8em;
    color: gray;
}

.references p {
    font-size: 0.8em;
}

article > p {
    margin: 20px 0;
}

article > p .t-underline {
    background-color: yellow;
}

article > ul {
    margin: 20px 0px 20px 15px;
}

table th {
    width: 33%;
}

.bg-blue {
    color: white;
    background-color: #0077b6;
}

.bg-azure {
    background-color: #abf9f9;
}
